%h2 设置
= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!
  .inputs
    = f.input :name, :required => true, :autofocus => true
    = f.input :email, :required => true
    = f.input :password,:required => false
    = f.input :password_confirmation, :required => false
    = f.input :current_password, :required => true

  .actions
    = f.button :submit, "Update"
%h3 自我了断
%p
  不高兴? #{link_to "自我了断", registration_path(resource_name), :confirm => "你确认要取消帐号离开我们?", :method => :delete}.
