= simple_form_for(@store) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :nick
    = f.input :user_id
    = f.input :seller_credit
    = f.input :shop_type
    = f.input :commission_rate
    = f.input :total_auction
    = f.input :auction_count
    = f.input :sid
    = f.input :cid
    = f.input :pic_path

  .form-actions
    = f.button :submit
