-if items.present?
  -#=debug items.first
  %ul.item-3cols
    -i=-1
    -items.each do |item|
      -i+=1
      %li{:class=>cycle('a','b','c'),:id=>"item-#{i}"}
        .photo
          -#%a{:id=>"plink-#{i}",:target=>'_blank'}
          =image_tag  'http://www.sdmec.com/assets/loading.gif',:'data-original'=>"#{item["pic_url"]}_300x300.jpg",:class=>'lazy',:width=>300,:height=>300

          -#,:alt=>item["title"],:width=>300,:height=>300
        .hd
          .title=link_to item["title"],"/itemlink/#{@store.id}/#{i}",:rel=>"nofollow",:target=>'_blank',:id=>"link-#{i}"
        =javascript_tag "str='#{item["click_url"].reverse}'.split('').reverse().join('');document.getElementById('link-#{i}').href=str;document.getElementById('item-#{i}').onclick=function(){document.getElementById('link-#{i}').click()}"
        .ft
          .volume.pull-right
            30天售出#{item["volume"]}件
          %span.price
            ￥
            %tt=item["price"]
          .clear


    .clear
  =link_to "查看更多宝贝",@store.url,:target=>'_blank',:id=>"shoplink-bottom",:class=>"shoplink belt-link btn btn-warning",:rel=>"nofollow",:onclick=>"track_store_click(#{@store.sid},'#{@store.id}|#{@store.title}','#{@store.click_url.present? ? 'shopshow' : 'shopfree'}')"

  -content_for :footer do
    =javascript_include_tag 'http://www.sdmec.com/assets/jquery.lazyload.js'
    =javascript_tag "$('img.lazy').lazyload()"
    
  
-else
  #items_not_found
