-stores ||= @stores
-hide_city ||= false
-hide_desc ||= false
.store_list
  -i=0
  -stores.each do |s|
    .store_il{:id=>"position-#{i}",:class=>s.click_url.present? ? "pro" : 'free'}
      -i+=1
      .photo.pull-left
        =image_tag s.pic_url,:width=>60,:height=>60
      .details
        -#.title= link_to s.title,s.url,:rel=>"nofollow",:target=>"_blank",:onclick=>"track_store_action(#{s.sid},_gaq,'#{s.click_url.present? ? 'link' : 'free'}')"
        .title
          -if s.user_id.present?
            <a data-type="1" biz-sellerid="#{s.user_id}" data-tmpl="140x190" data-tmplid="3" data-rd="2" data-style="2" data-border="1" href="#" target="_blank" onclick="track_store_click(#{s.sid},'#{s.id}|#{s.title}','data')">#{s.short}</a>
          -else
            =s.safe_title

        .meta 
          -#=img_credit(s.seller_credit)
          -if !hide_city && s.city.present?
            =link_to s.city.name,root_url(:subdomain=>s.city.slug)
            %span.separator /
          =link_to s.nick,store_url(s,:subdomain=>s.city_slug),:title=>"点评#{s.title}"
          -if !hide_desc
            %span.separator /
            =strip_tags(safe_print("#{s.bulletin} #{s.desc}")).truncate 60
          -if s.seller_credit
            .rank.rank-27{:class=>"seller-rank-#{s.seller_credit}"}
              信誉等级: #{s.seller_credit}
      .clearfix
