
-stores ||= @stores
-i=0
%ul.shoplist
  -stores.each do |s|
    -#%li.si{:class=>['si-a','si-b'].sample}
    %li.si{:class=>cycle('si-a','si-b')}
      .meta
        -if s.seller_credit
          -tmp = num_credit(s.seller_credit)
          .xrank{:class=>"xrank-#{tmp[0]}"}
            <i>#{tmp[0]}</i>x #{tmp[1]}
      .link
        <a data-type="1" biz-sellerid="#{s.user_id}" data-tmpl="140x190" data-tmplid="3" data-rd="2" data-style="1" data-border="1" href="#" target="_blank" class="shoplink label btn-info" onclick="track_store_click(#{s.sid},'#{s.id}|#{s.title}','data')">进入店铺</a>
        \|
        =link_to s.name,store_url(s,subdomain: s.city_slug),:title=>"#{s.nick}/#{s.name}",:target=>'_blank',:rel=>"nofollow",:class=>"title"
.clear      
