
-stores ||= @stores
-i=0
%ul.shoplist
  -stores.each do |s|
    %li.si{:id=>"position-#{i}"}
      -i+=1
      .meta
        -if s.seller_credit
          -tmp = num_credit(s.seller_credit)
          .xrank{:class=>"xrank-#{tmp[0]}"}
            <i>#{tmp[0]}</i>x #{tmp[1]}
      .link
        -#[
        =link_to s.nick.truncate(2,:omission=>''),store_url(s,:subdomain=>s.city_slug),:title=>s.nick,:class=>'nick'
        \|
        =link_to s.name,s.url,:title=>"#{s.nick}/#{s.name}",:target=>'_blank',:rel=>"nofollow",:class=>"title"
.clear      
