-title @store.safe_title,nil,false
-metalink "canonical",store_url(@store,:subdomain=>@store.city_slug) 
-@bodyname = "store"
-@col1 = true
-@nomingdian = true

-@nocbjs = true
-@xtao = true
-@display_items = @store.click_url.present?

-s = @store
-content_for :full do
  .shop-header
    .photo.pull-left
      =image_tag s.pic_url,:width=>48,:height=>48,:alt=>s.title unless @store.mingan?
    .pull-left.shop-profile
      %h1.shop-name.inline=@store.safe_title
      -if s.seller_credit
        -#.rank.pull-left.rank-27{:class=>"seller-rank-#{s.seller_credit}"}
          -#信誉等级: #{s.seller_credit}
        =img_credit(s.seller_credit)
      .share

    -#.link.pull-left
      -#=link_to "进入淘宝店铺",s.url,:target=>'_blank',:id=>"shoplink",:class=>"shoplink btn btn-info",:rel=>"nofollow",:onclick=>"track_store_click(#{s.sid},'#{s.id}|#{s.title}','#{s.click_url.present? ? 'shopshow' : 'shopfree'}')"

    .clear
  .arow      
    #slotl.slot
    #slotc.slot
    #slotr.slot
    .clearfix

-@sidenav=%w(details reviews related)
.doc-sidebar{'data-spy'=>"affix",'data-offset-top'=>"10"}
  %ul.nav.nav-list.doc-sidenav
    -@sidenav.each do |n|
      %li=link_to t("sidenav.#{n}"),"##{n}"

.row
  .span8
    #details-section.section
      %a.loc#details
      %h3 简介
      .desc
        -unless @store.mingan?
          =sanitize safe_print(s.bulletin)
          =sanitize safe_print(s.desc)
    #reviews-section.section
      %a.loc#reviews
      %h3 评论
      %p #{@store.title}怎么样?有#{@store.title}优惠券可以分享?
      =javascript_include_tag "http://open.denglu.cc/connect/commentcode?appid=36977denGHiyfkcbLRWFOT9XOO6jI3&postid=#{@store.sid}&title=#{@store.title}"
      -#= render :partial => 'stores/comments'

  .span3.pull-right
    .about
      %h2 关于#{@store.title}
      .meta
        -if s.city.present?
          %tt 所在:
          =link_to s.city.name,root_url(:subdomain=>s.city.slug),:rel=>"nofollow"
          %br
        %tt 卖家:
        =s.nick
      .link
        =link_to "进入店铺",s.url,:target=>'_blank',:id=>"shoplink-side",:class=>"shoplink btn btn-info",:rel=>"nofollow",:onclick=>"track_store_click(#{s.sid},'#{s.id}|#{s.title}','#{s.click_url.present? ? 'shopshow' : 'shopfree'}')"
    #related-section.section
      %a.loc#related
      -unless @store.mingan?
        %h3 相关
        -stores = @store.related 15
        -if stores.present? 
          =render :partial => 'stores/index',:locals=>{:stores=>stores}
          -#= render :partial => 'stores/list_related',:locals=>{:stores=>stores}
    %p.desc=t('.desc',@store.attributes.to_options).html_safe

-#-content_for :affix do
-content_for :footer do
  =javascript_tag "rewrite_link('#{@store.real_url.reverse}')"
  =javascript_tag "convert_shop('#{@store.nick}','show',#{@store.click_url.present?})"
  -if @display_items && @store.items_stale? && @store.user_id.present?
    =javascript_tag "load_items('#{@store.id}')"
    



=debug @store if params[:debug].present?
