-@cats ||= Cat.roots
-@stores_bycats ||= Store.by_cats
-if @cats.present?
  .row
    -@cats.each do |cat|
      -next if !@stores_bycats.has_key? cat.id
      %section.span4.hlist{:class=>cycle('a','b','c',:name=>'section')}
        %h2=link_to cat.name,tbcat_url(cat),:title=>"#{cat.name}店铺"
        %ol.slist
          -@stores_bycats[cat.id].slice(0,15).each do |s|
            -#%li.si{:class=>['si-a','si-b'].sample}
            %li.si{:class=>cycle('si-a','si-b')}
              .meta
                -if s.seller_credit
                  -tmp = num_credit(s.seller_credit)
                  .xrank{:class=>"xrank-#{tmp[0]}"}
                    <i>#{tmp[0]}</i>x #{tmp[1]}
              .link
                =link_to s.nick.truncate(2,:omission=>''),store_url(s,:subdomain=>s.city_slug),:title=>s.nick,:class=>'nick'
                \|
                =link_to s.name,s.url,:title=>"#{s.nick}/#{s.name}",:target=>'_blank',:rel=>"nofollow",:class=>"title"
