-@xtao = true
-items = results["items"] rescue nil
-if items.present?
  =debug items.first if params[:debug]
  %ul.item-3cols
    -i=-1
    -items[0,limit].each do |item|
      -i+=1
      %li{:class=>cycle('a','b','c'),:id=>"item-#{cat}-#{i}"}
        .photo
          =image_tag  'http://www.sdmec.com/assets/loading.gif',:'data-original'=>"#{item["pic_url"].sub(/_b.jpg/,'_300x300.jpg')}",:class=>'lazy',:width=>300,:height=>300
        .hd
          .title=link_to item["title"],"javascript://",:rel=>"nofollow",:target=>'_blank',:id=>"link-#{cat}-#{i}",:class=>"item-link",'data-id'=>item['track_iid'].match(/^(\d+)/)[0]
        =javascript_tag "str='#{item["detail_url"].reverse}'.split('').reverse().join('');document.getElementById('link-#{cat}-#{i}').href=str;document.getElementById('item-#{cat}-#{i}').onclick=function(){document.getElementById('link-#{cat}-#{i}').click()}"
        .ft
          .volume2.pull-right
            %div.brand #{item["brand_name"]} 正品
            %abbr{:title=>"30天售出#{item["volume"]}件"} #{item["volume"]}售
            %abbr{:title=>"#{item["comment_num"]}条评论"} #{item["comment_num"]}评
          %span.price
            %del
              ￥
              =item["price"]
            %tt
              ￥#{item["promotion_price"]}


    .clearfix


  =javascript_tag do
    var _iids = _iids || [];
    -items[0,limit].each do |i|
      _iids.push('#{i['track_iid']}')
  -unless @lazyloaded
    -@lazyloaded = true
    -content_for :footer do
      =javascript_tag "convert_items()"
      =javascript_include_tag 'http://www.sdmec.com/assets/jquery.lazyload.js'
      =javascript_tag "$('img.lazy').lazyload()"
-else
  .items_not_found
