-title 'status'
-metalink 'robots','noindex'
-@col1 = true

%table.table
  %tr
    %th Stores
    %th updated
  %tr 
    %th total
    %td= Store.fullscan.search_count(nil)
  %tr 
    %th 1h
    %td= Store.fullscan.search_count(nil,:with=>{:shop_updated_at => 1.hour.ago..Time.now})
  %tr 
    %th 24h
    %td= Store.fullscan.search_count(nil,:with=>{:shop_updated_at => 1.day.ago..Time.now})
  %tr 
    %th 7d
    %td= Store.fullscan.search_count(nil,:with=>{:shop_updated_at => 7.day.ago..Time.now})
  %tr 
    %th 30d
    %td= Store.fullscan.search_count(nil,:with=>{:shop_updated_at => 30.day.ago..Time.now})

