-title 'status'
-metalink 'robots','noindex'
-@col1 = true

%table.table
  %tr
    %th Stores
    %th created
    %th updated
  %tr 
    %th total
    %td= Store.count
    %td= Store.where('shop_updated_at is not null').count
  %tr 
    %th 1h
    %td= Store.where('created_at > ?',1.hour.ago).count
    %td= Store.where('shop_updated_at > ?',1.hour.ago).count
  %tr 
    %th 24h
    %td= Store.where('created_at > ?',1.day.ago).count
    %td= Store.where('shop_updated_at > ?',1.day.ago).count
  %tr 
    %th 7d
    %td= Store.where('created_at > ?',7.day.ago).count
    %td= Store.where('shop_updated_at > ?',7.day.ago).count
  %tr 
    %th 30d
    %td= Store.where('created_at > ?',30.day.ago).count
    %td= Store.where('shop_updated_at > ?',30.day.ago).count

