-title "友情链接"

%table.table
  %tr
    %th Data
    %th Name
    %th
    %th

  - @links.each do |link|
    %tr
      %td= link.data
      %td= link.name
      %td= link.data.split("\r\n").size
      %td
        = link_to 'Show', link
        = link_to 'Edit', edit_link_path(link)
        = link_to 'Destroy', link, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Link', new_link_path
