= simple_form_for(@fl_post) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :summary
    = f.input :keywords
    = f.input :content
    = f.association :category

  .form-actions
    = f.button :submit,"提交",class: "btn btn-primary"
