= simple_form_for(@fenlei) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :slug
    = f.input :posts_count
    = f.input :position
    = f.input :parent_id

  .form-actions
    = f.button :submit
