= simple_form_for(@cat) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :slug
    = f.input :parent_id,:collection=>Cat.roots
    = f.input :oid

  .form-actions
    = f.button :submit
