= simple_form_for(@site,:html=>{:class=>"form-horizontal label-mini"}) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :slogan
    = f.input :slug do
      -if @site.id.present?
        %span.add-on #{@site.slug}.sdmec.com
      -else
        .input-append.input-url
          =f.input_field :slug,:class=>"input-mini"
          %span.add-on .sdmec.com
    = f.input :description,:input_html=>{:rows=>6,:class=>"input-xlarge"}

  .form-actions
    = f.button :submit,'提交'
