= simple_form_for(@site,:html=>{:class=>"form-horizontal label-mini"}) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :slogan
    = f.input :slug do
      -if @site.id.present?
        %span.add-on http://site.sdmec.com/#{@site.slug}
      -else
        .input-prepend.input-url
          %span.add-on http://site.sdmec.com/
          =f.input_field :slug,:class=>"input-small"
    = f.input :description,:input_html=>{:rows=>8,:class=>"input-xxlarge"}

  .form-actions
    = f.button :submit,'提交'
