=yield :sidebar
-unless @hide_searches
  -cache 'searches-recent',:expires_in=>3.minutes do
    -searches = Searched.recent 20
    %h4 最新搜索
    -if searches.present?
      -searches.each do |query|
        =link_to query,search_url(:q=>query,:subdomain=>'www')
      =link_to "更多",searched_url(:subdomain=>'www'),:class=>"moreinline"

    
-if @city.present? and !@city.zhixiashi?
  -cache "primary_cities_#{@city.slug}" do
    -cities = @city.children_or_siblings  
    %h4 相关城市
    %p.cities
      -cities.each do |r|
        =link_to r.name,root_url(:subdomain=>r.slug),:title=>"#{r.name}店铺"
-unless @hide_top        
  -recent_limit ||= 10
  -cache "top-#{@city.nil? ? "home-#{recent_limit}" : @city.slug}" ,:expires_in=>1.day do
    -#-recents = Store.credit.incity(@city).limit(recent_limit).includes(:city).short.all
    -recents = Store.credit_desc.in_city(@city).fullscan.search(:include=>[:city],:per_page=>recent_limit)
    -if recents.present?
      %h4 #{@city.present? ? @city.name : nil}十大名店
      %ul.top.unstyled
        -recents.each do |s|
          %li{:class=>cycle('o','e')} 
            =img_credit(s.seller_credit)
            =link_to s.safe_title,store_url(s,:subdomain=>s.city_slug)
-unless @hide_recent        
  -recent_limit ||= 15        
  -cache "recent-#{@city.nil? ? "home-#{recent_limit}" : @city.slug}" ,:expires_in=>1.hour do
    -recents = Store.srecent.in_city(@city).fullscan.search(:include=>[:city],:per_page=>recent_limit)
    -#-recents = Store.recent.updated.incity(@city).limit(recent_limit).includes(:city).short.all
    -if recents.present?
      %h4 #{@city.present? ? @city.name : nil}最新发现
      %ul.top.unstyled
        -recents.each do |s|
          %li{:class=>cycle('o','e')} 
            =link_to s.safe_title,store_url(s,:subdomain=>s.city_slug)
