-_set_xtao_cookie if @xtao
='<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">'.html_safe
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    ='<meta name="baidu-site-verification" content="me8boZYUw0ffz4s0" />'.html_safe
    %title= content_for?(:title) ? yield(:title) : "Tb"
    = stylesheet_link_tag    @noad ? "simple" : "application", :media => "all"
    = render :partial=>'layouts/iefix'
    = csrf_meta_tags
    = yield(:head)
    =javascript_include_tag 'http://a.tbcdn.cn/apps/top/x/sdk.js?appkey=12060575' unless @no_xtao
    -#=javascript_include_tag "http://cbjs.baidu.com/js/m.js" unless @nocbjs
    =javascript_tag "var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-247543-31']);"
  %body{:class=>@bodyname}
    %header.navbar.navbar-fixed-top.navbar-inversex
      %nav.navbar-inner
        =render 'layouts/unav'
        .container
          = render 'layouts/navigation'
      -# -if request.url != root_url(:subdomain=>'www')
    #main{:role => "main"}
      =yield :home_line
      -#.double11#full1=render "ads/tb_a960"
      -#.clearfix


      .container.relative
        =yield :full
        .content
          -unless @hide_bread
            .container.breadcrumbx= breadcrumbs.render :format=>:inline, :separator => '/'
          -#= render 'layouts/messages'
          -if @col1
            .row
              .span12
                =render "layouts/content"
          -elsif @col2l
            .row
              .span3#primary
                =render "layouts/primary"
              .span9
                =render "layouts/content"

          -else
            .row
              .span8
                =render "layouts/content"
              .span3.pull-right#primary
                =render "layouts/primary"
        =yield :affix
      .belt.container                
        = render :partial => 'layouts/belt' unless @hide_belt
        #links=render 'layouts/links'
        =yield :links
    %footer
      .container
        .left
          &copy; 2012
          =t('footer_left').html_safe

        .right
          =t('footer_right').html_safe
          %p=yield :title
        .clear
        %p#contact-note
    = javascript_include_tag (@js || "application")
    =render "layouts/iefixjs"
    =yield :footer
    -#=javascript_tag "link_load('#mingdian',1);"
    -#-unless @hide_xuanfu
      -#=bdad "悬浮，120*120，创建于2012-11-9",1118592,'f'
    -if Rails.env.production?
      .hidden
        <script language="javascript" type="text/javascript" src="http://js.users.51.la/4045275.js"></script>
        <noscript><a href="http://www.51.la/?4045275" target="_blank"><img alt="&#x6211;&#x8981;&#x5566;&#x514D;&#x8D39;&#x7EDF;&#x8BA1;" src="http://img.users.51.la/4045275.asp" style="border:none" /></a></noscript>
        = render :file=>'analytics/google'
