!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'sdmec.com'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Tb'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .pre-header
    .header
      .container
        .row
          .col-md-2
            %a{href: root_url(subdomain: "www"),target: "_self"}
              =image_tag "logo.png",alt: "sdmec开放网址目录"
          .col-md-5
            %form.form-inline{action: root_url,method: 'get',target: "_self"}
              -a={:id=>'q',:type=>"text",:name=>"q",class: "form-control"}
              -a.merge! @q.nil?  ? {:placeholder=>t('search')} : {:value=>@q}
              %input{a}
              %button.btn.btn-default 搜索
          .col-md-5
            =link_to "免费发布信息",nil,class: "btn btn-success add-post"
    = render 'layouts/navigation'
    .main{:role => "main"}
      = render 'layouts/messages'
      = yield
